html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html,
body{
    height: 100%;
    
}


.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content{
    flex: 1 0 auto;
}
footer{
    flex: 0 0 auto;
}


a{
    display: inline-block;
    text-decoration: none;
    color: #f3f3f8;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
    font-weight: inherit;
}

textarea{
    resize: none;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px; 
}

.section-title__top{
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    min-height: 110px;
    padding:0 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        font-size: 30px;
        line-height: 28px;
        display: block;
    };
}

