@media (max-width: 1500px) {
    .user__box {
        ul {
            right: 0;
        }
    }
}
@media (max-width: 1350px) {
    .main__inner-title {
        font-size: 50px;
        span {
            font-size: 50px;
        }
    }
}
@media (max-width: 1300px) {
    .message__menu {
        right: 0;
    }
}

@media (max-width: 1200px) {
    .blue__btn,
    .purple__btn {
        padding: 10px 27px;
    }
    .single-product-box__btn button {
        padding: 12px 27px 12px 49px;
    }
    .how__item-btn {
        padding: 10px 27px;
    }
    .benefits,
    .statistics,
    .feedback,
    .news,
    .contacts,
    .pricing,
    .products-page {
        padding: 40px 0;
    }
    .section__bottom-subtitle {
        margin-bottom: 20px;
    }
    .mega__menu--media {
        display: none !important;
    }
    .main__form form {
        display: none;
    }
    .main__inner {
        padding: 120px 10px 150px;
    }
    .main__inner-links a {
        padding: 10px 17px 9px;
    }
    .main__inner-title {
        font-size: 40px;
        span {
            font-size: 40px;
        }
    }
    .main__inner-subtitle {
        font-size: 16px;
    }
    .features-product__info {
        padding: 10px 10px;
    }
    .newest__products-category button {
        padding: 7px 15px;
    }
    .newest__products-inner,
    .benefits__inner,
    .news__inner,
    .favourites__products-inner {
        justify-content: flex-start;
        margin-left: -30px;
        .product-item,
        .benefits__item,
        .news-item {
            margin-left: 30px;
            flex-basis: calc(50% - 30px);
            max-width: 100%;
            .product-item__image,
            .news-item__image {
                width: 100%;
            }
        }
    }
    .buttons {
        display: block;
    }
    .buttons-item {
        padding: 30px 0;
    }
    .feedback__inner {
        display: block;
    }
    .feedback__item {
        max-width: 100%;
        padding: 30px 20px;
        & + .feedback__item {
            margin-top: 10px;
        }
    }
    .feedback__link {
        margin-top: 20px;
    }
    .breadcrumbs__inner {
        padding: 0 0 20px;
    }
    .blog-inner {
        display: block;
    }
    .blog-post {
        max-width: 100%;
    }
    .blog-post__image img {
        width: 100%;
    }
    .blog-posts {
        margin-bottom: 20px;
    }
    .blog-aside__title {
        padding: 15px 20px;
    }
    .blog-aside {
        max-width: 100%;
    }
    .blog-aside__item {
        max-width: 100%;
        .header__search input {
            max-width: 100%;
            width: calc(100% - 50px);
        }
        .tabs .tab {
            padding: 15px 0;
        }
    }
    .tab-item__post {
        justify-content: flex-start;
    }
    .tab-item__text {
        display: block;
    }
    .blog-aside__banner {
        width: 100%;
    }
    .contact__title {
        padding: 50px 0;
    }
    .contacts__icon {
        max-width: 100%;
        & + .contacts__icon {
            margin-left: 10px;
        }
        padding: 70px 30px 30px;
        &::before {
            top: 25px;
            font-size: 30px;
        }
    }
    .contacts__form-title {
        padding: 20px 0;
    }
    .contacts__form form {
        padding: 20px 100px 30px;
    }
    .pricing-item + .pricing-item {
        margin-left: 10px;
    }
    .pricing-title {
        margin-top: 0;
    }
    .pricing__inner {
        margin-top: 10px;
    }
    .products-page__inner {
        display: block;
    }
    .products__aside {
        max-width: 100%;
    }
    .products__aside-item {
        max-width: 100%;
    }
    .products__aside-filter {
        display: none;
    }
    .products__content-inner {
        justify-content: flex-start;
        margin-left: -30px;
        .product-item {
            margin-left: 30px;
            flex-basis: calc(33% - 30px);
            max-width: 100%;
            .product-item__image {
                width: 100%;
            }
        }
    }
    .recover,
    .registration__form,
    .single-product {
        padding: 30px 0 50px;
    }
    .single-product__wrapper {
        display: block;
    }
    .single-product__image img {
        max-width: 100%;
        width: 100%;
        height: 430px;
    }
    .tab__content {
        max-width: 100%;
        padding: 30px 15px;
        img {
            max-width: 100%;
            width: 100%;
            height: 850px;
        }
    }
    .tab-item__subtitle{
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .single-product__inner {
        margin-bottom: 10px;
    }
    .single-product__aside{
        max-width: 100%;
    }
    .single-product__aside-inner,
    .more-items__inner {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -15px;
        .aside-item,
        .product-item {
            max-width: 100%;
            margin-left: 15px;
            flex-basis: calc(50% - 15px);
            margin-bottom: 10px;
            & + .aside-item {
                margin-top: 0;
            }
        }
        .product-item{
            img{
                width: 100%;
            }
        }
    }
    .more-items{
        padding: 30px 0;
    }
}
@media (max-width: 1150px) {
    .features-inner {
        display: block;
    }
    .features {
        padding: 100px 0;
    }
    .features__item {
        padding: 10px 35px;
    }
    .product-item {
        max-width: 100%;
        &__image {
            width: 100%;
        }
    }
    .feed-slider__inner {
        .slick-slide + .slick-slide {
            padding-left: 10px;
        }
    }
    .filters-bar__inner .filters-bar__icons {
        margin-left: 10px;
    }
    .filter-favourites__title {
        margin-right: 5px;
    }
}
@media (max-width: 1050px) {
    .newest__products-category {
        button {
            display: block;
            width: 100%;
            & + button {
                margin-top: 6px;
            }
        }
    }
}
@media (max-width: 1000px) {
    .features-slider,
    .newest__products {
        padding: 50px 0;
    }
    .container {
        padding: 0 5px;
    }
    .menu__btn {
        display: block;
        width: 30px;
        cursor: pointer;
        margin-top: 28px;
        div {
            background-color: #7e8fa1;
            height: 3px;
            & + div {
                margin-top: 5px;
            }
        }
    }
    .menu__list {
        display: none;
        position: absolute;
        background-color: #fff;
        left: 0;
        right: 0;
        top: 180px;
        text-align: center;
        z-index: 20;
        border-bottom: 1px solid #ececec;
        li {
            display: block;
            border-top: 1px solid #ececec;
            & + li {
                margin-left: 0;
            }
        }
        a {
            display: block;
        }
    }
    .header__menu {
        position: unset;
        li ul {
            position: unset;
            width: 100%;
            padding: 0;
        }
    }
    .footer__inner {
        display: block;
    }
    .footer__col-about {
        max-width: 100%;
    }
    .footer__col-social {
        max-width: 100%;
        .footer__form {
            button {
                position: static;
                margin-left: -111px;
            }
            input {
                width: 290px;
            }
        }
    }
    .footer__col-menu {
        display: inline-block;
        margin-right: 25px;
    }
    .footer__inner {
        padding: 20px 0;
    }
    .footer__col-title {
        margin-bottom: 10px;
    }
    .footer__copy {
        height: auto;
    }
    .contacts__form-col1 {
        margin-right: 10px;
    }
    .contacts__form form {
        padding: 20px 30px 30px;
    }
    .filters-bar__icons {
        display: none;
    }
    .how__item-image img {
        width: 258px;
        height: 190px;
    }
    .how__item-image {
        width: 258px;
        height: 190px;
    }
    .how__item-inner {
        padding: 30px 0;
    }
    .how__item-title {
        margin-bottom: 15px;
        font-size: 24px;
    }
    .how__item-text {
        line-height: 24px;
        font-size: 14px;
    }
    .tab__content img{
        height: 650px;
    }
    .aside-item__info span{
        line-height: 30px;
    }
    .aside-item__inner label span{
        padding: 10px 0;
        padding-left: 33px;
    }
}
@media (max-width: 960px) {
    .features-product {
        display: block !important;
    }
    .features-product__image {
        width: 100%;
    }
    .features-product__text {
        margin-bottom: 14px;
    }
    .features-product__link-box {
        padding-bottom: 15px;
    }
    .features-product__price-box,
    .product-item__price-box {
        padding-top: 13px;
    }
    .section-title__top div {
        display: none;
    }
}
@media (max-width: 920px) {
    .main__inner-title {
        span {
            display: block;
        }
    }
    .filters-bar__inner {
        display: block;
        height: auto;
        padding-bottom: 10px;
        padding-top: 10px;
        .jq-selectbox.jqselect.filter__by {
            border: 1px solid #eceff2;
            .jq-selectbox__dropdown {
                top: 0 !important;
            }
        }
        text-align: center;
        .jq-selectbox.jqselect {
            display: block;
            margin-top: 10px;
        }
        .jq-selectbox__select {
            width: 100%;
            padding: 0;
        }
        .per-page__select {
            margin-left: 0;
        }
        .jq-selectbox__dropdown ul li {
            padding-left: 0;
            border-top: 1px solid #eceff2;
        }
        .filter__by .jq-selectbox__select {
            line-height: 44px;
        }
    }
    .pricing__inner {
        display: block;
    }
    .pricing-item {
        margin: 10px auto;
        padding: 15px;
        & + .pricing-item {
            margin-left: auto;
        }
    }
    .pricing-item__price {
        margin: 15px auto;
    }
    .pricing-item__btn {
        margin-top: 15px;
    }
    .pricing-item__list li {
        line-height: 30px;
    }
    .products__content-inner {
        .product-item {
            flex-basis: calc(50% - 30px);
        }
    }
    .products__aside-item {
        margin-bottom: 15px;
    }
}
@media (max-width: 850px) {
    .header__inner-btn {
        display: none;
    }
    .header__inner-bar {
        margin-right: 0;
    }
    .cart__box {
        padding-right: 15px;
    }
    .user__box-name {
        margin-left: 5px;
    }
    .user__box {
        margin-right: 0;
    }
    .single-product__aside-inner .aside-item,
    .more-items__inner .product-item{
        flex-basis: 100%;
    }
    .tab__content img{
        height: 450px;
    }
    .aside__sales, .aside__favorites, .aside__comments{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .aside-item__inner{
        padding: 15px;
    }
    .aside-item__inner form button{
        margin-top: 15px;
    }
    .aside-item__title{
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .more-item__title{
        margin-bottom: 30px;
    }
    .page__title .title{
        font-size: 24px;
        line-height: 24px;
    }
    .terms__title,
    .terms__inner p{
        padding: 25px 20px 20px;
    }
}
@media (max-width: 820px) {
    .header__menu li a {
        line-height: 60px;
    }
    .newest__products-inner,
    .favourites__products-inner {
        .product-item {
            flex-basis: calc(100%);
        }
        .product-item__info {
            padding: 15px 10px;
        }
        .product-item__price-box {
            padding: 10px;
        }
        .product-item__stars .rate__star {
            right: 50px;
            top: 20px;
        }
    }
    .benefits__inner {
        .benefits__item {
            flex-basis: calc(100%);
            padding: 25px 15px;
        }
    }
    .news__inner {
        .news-item {
            flex-basis: calc(100%);
            padding: 25px 15px;
        }
    }
    .benefits__item-title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .benefits__item-text {
        font-size: 14px;
    }
}
@media (max-width: 800px) {
    .contacts__icons {
        display: block;
    }
    .contacts__icon + .contacts__icon {
        margin-left: 0;
        margin-top: 10px;
    }
    .contacts__icon-title {
        margin-bottom: 0;
    }
}
@media (max-width: 750px) {
    .feed-slider__inner {
        .slick-slide + .slick-slide {
            padding-left: 0px;
        }
    }
    .support-icons__inner {
        display: block;
        padding: 10px 0;
    }
    .support-icons__item {
        width: 100%;
        & + .support-icons__item {
            margin-top: 10px;
        }
    }
    .page__404 {
        padding: 30px 40px;
    }
    .page__404-image {
        img {
            width: 250px;
            height: 300px;
        }
    }
    .page__404-text {
        font-size: 26px;
        margin-bottom: 0px;
    }
    .how__item-inner {
        display: block;
        text-align: center;
    }
    .how__item-image {
        width: 100%;
    }
    .how__item-content {
        max-width: calc(100% - 20px);
    }
    .how__item-content + .how__item-image {
        margin-top: 20px;
    }
    .tabs{
        display: block;
        .tab{
            display: block;
            padding: 15px 0;
            &.active{
                border-bottom: 1px solid #e8e8e8;
            }
        }
    }
}
@media (max-width: 700px) {
    .header__inner-bar {
        display: none;
    }
}

@media (max-width: 650px) {
    body {
        font-size: 14px;
    }
    .logo__text {
        display: none;
    }
    .notification__box,
    .message__box,
    .cart__box {
        padding: 0 10px;
    }
    .header__search input {
        width: 240px;
        padding: 13px 85px 13px 15px;
    }
    .section-title__top {
        min-height: 80px;
        span {
            font-size: 25px;
        }
    }
    .statistics {
        padding: 20px 0;
    }
    .statistics__inner {
        display: block;
    }
    .statistics__item {
        img {
            margin-bottom: 15px;
        }
        & + .statistics__item {
            margin-top: 10px;
        }
    }
    .section__bottom-title,
    .buttons-item__title,
    .join-us__title {
        font-size: 26px;
    }
    .buttons-item svg {
        margin-bottom: 20px;
    }
    .buttons-item__btn {
        padding: 10px 20px;
    }
    .feedback__item {
        padding: 20px 20px;
    }
    .feedback__item-author-box {
        margin-bottom: 0;
    }
    .author-avatar img {
        width: 60px;
        height: 60px;
    }
    .author-name {
        font-size: 16px;
    }
    .support-icons__item div {
        font-size: 18px;
    }
    .join-us__subtitle {
        font-size: 16px;
    }
    .blog-post__title {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .blog-post__image img {
        height: 280px;
    }
    .blog-post__title-box,
    .blog-post__text {
        padding: 20px 15px;
    }
    .blog-post .blue__btn {
        margin: 0 15px 20px;
    }
    .blog-post__author,
    .blog-post__date,
    .blog-post__views,
    .blog-post__comments {
        margin-right: 10px;
        padding-left: 20px;
    }
    .blog-post__author {
        display: block;
        margin-bottom: 10px;
    }
    .pagination__list a,
    .pagination__list span {
        width: 40px;
    }
    .contacts__title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .contacts__info {
        margin-bottom: 20px;
    }
    .contacts__form form .contacts__form-col1 input {
        padding-left: 15px;
    }
    .contacts__form form input {
        padding: 14px 10px 15px;
    }
    .contacts__form form textarea {
        padding: 15px;
    }
    .products__content-inner {
        .product-item {
            flex-basis: 100%;
        }
    }
    .recover-inner {
        padding: 30px 0;
        form input {
            padding: 18px 15px 20px;
        }
    }
    .registration__form-subtitle {
        padding: 18px 15px 20px;
    }
    .registration__form-inner form {
        padding: 15px;
    }
    .registration__form-inner span {
        padding-left: 15px;
    }
    .single-product__socials{
        display: block;
        padding: 15px 0;
        .footer__social-links{
            margin-top: 10px;
        }
    }
    .single-product-box__btn{
        padding: 15px 0;
        .blue__btn{
            display: block;
        }
        button{
            display: block;
            width: 100%;
            margin-left: 0;
            margin-top: 10px;
        }
    }
    .single-product__image img{
        height: 330px;
        min-height: 330px;
    }
    .tab__content img{
        height: 350px;
    }
    .tab__content li , .tab__content p{
        line-height: 24px;
    }
}
@media (max-width: 450px) {
    .main__inner-btn {
        display: block;
    }
    .main__inner-links a + a {
        margin-left: 0;
        margin-top: 15px;
    }
    .features-product__link-box a {
        padding: 0 10px;
    }
    .features-product__likes {
        margin-right: 10px;
        &::before {
            margin-right: 5px;
        }
    }
    .features-product__price {
        margin-right: 10px;
        padding: 5px 10px;
    }
    .how__title {
        .title {
            font-size: 22px;
        }
    }
    .footer__social-links li+li{
        margin-left: 0;
    }
    .aside-item__price span{
        left: 90px;
    }
    .aside__author-links{
        .blue__btn,
        .purple__btn{
            display: block;
        }
        a+a{
            margin-left: 0;
            margin-top: 10px;
        }
    }
    .more-item__title{
        span{
            display: block;
            margin-top: 5px;
        }
    }
}

@media (min-width: 1000px) {
    .menu__list {
        display: block !important;
    }
}
