@import "vars";
@import "libs";
@import "fonts";
@import "glob";

// Header
.header {
    background-color: #eef1f3;
}

.footer__inner-logo,
.header__inner-logo {
    display: flex;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
    font-weight: 700;
    font-size: 30px;
    span {
        color: $blue;
    }
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    &-btn {
        color: #fff;
        background-color: $blue;
        margin-left: auto;
        margin-right: 50px;
        padding: 7px 16px 5px;
        border-radius: 18px;
    }
    &-bar {
        margin-right: 50px;
        .header__inner-bar__messege {
            span {
                background-color: #62d03b;
            }
        }
        .header__inner-bar__cart {
            span {
                background-color: #0674ec;
            }
        }
        a {
            position: relative;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                min-height: 22px;
                min-width: 22px;
                color: #fff;
                background-color: #ff6a6c;
                border-radius: 50%;
                top: -15px;
                right: -10px;
                font-weight: 500;
            }
            svg {
                path {
                    fill: #7e8fa1;
                }
            }
        }
        a + a {
            margin-left: 33px;
        }
    }

    .user__info {
        display: flex;
        align-items: center;
        &-photo {
            width: 50px;
            height: 50px;
            background-image: url(../images/user-photo.jpg);
            @include bg_pack;
            border-radius: 50%;
        }
        &-name {
            font-weight: 500;
            margin-left: 20px;
            span {
                color: $blue;
                display: block;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}
.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    .header__menu {
        li {
            display: inline-block;
            a {
                font-size: 15px;
                color: #333333;
                text-transform: uppercase;
                font-weight: 500;
            }
            & + li {
                margin-left: 30px;
            }
        }
    }
    .header__search {
        position: relative;
        input {
            width: 360px;
            border: 1px solid #d9dfe5;
            padding: 10px 90px 10px 20px;
            border-radius: 20px;
            outline: none;
            &::placeholder {
                color: #898f96;
            }
        }
        button {
            outline: none;
            position: absolute;
            right: 0;
            background-color: $blue;
            border: none;
            border-radius: 20px;
            max-width: 70px;
            width: 100%;
            height: 37px;
            svg {
                width: 16px;
                height: 17px;
                path {
                    fill: #fff;
                }
            }
        }
    }
}

//      Main

.main {
}

.main__inner {
    @include bg_pack;
    text-align: center;
    color: #f3f3f8;
    padding: 170px 0 230px;
    &-title {
        font-size: 60px;
        line-height: 70px;
        span {
            font-size: 60px;
            line-height: 70px;
            font-weight: 700;
        }
    }
    &-subtitle {
        font-weight: 500;
        font-size: 20px;
        padding: 30px 0 60px;
    }
    &-links {
        a {
            border: 1px solid #f3f3f8;
            border-radius: 30px;
            padding: 10px 25px;
            &:hover {
                background-color: #fff;
                color: $blue;
                transition: all 0.3s;
            }
        }
        a + a {
            margin-left: 25px;
        }
    }
}

.main__form {
    width: 100%;
    margin-top: -71px;
    position: relative;
    background-color: transparent;
    form {
        position: relative;
        &::after {
            content: "";
            width: 1110px;
            height: 26px;
            background-image: url(../images/main__form-shadow.png);
            position: absolute;
            top: -26px;
            left: 15px;
        }
        padding: 0 40px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        min-height: 135px;
        width: 100%;
        display: flex;
        align-items: center;
        input {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            max-width: 635px;
            width: 100%;
            margin-right: 40px;
            min-height: 55px;
            border: 1px solid #dcdcdc;
            padding: 20px 30px;
            color: #000000;
            outline: none;
            margin-right: 0;
            &::placeholder {
                color: #676767;
            }
        }
        select {
            color: #676767;
            padding: 18px 30px;
            margin-left: 0;
            border: 1px solid #dcdcdc;
            border-left: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            outline: none;
        }
    }
    &-btn {
        margin-left: auto;
        max-width: 220px;
        width: 100%;
        margin-left: 10px;
        background-color: $blue;
        border: none;
        border-radius: 4px;
        color: #fff;
        padding: 21px 0;
    }
}

.features {
    padding: 120px 0;
}
.features-inner {
    display: flex;
    justify-content: space-between;
}
.features__item {
    text-align: center;
    padding: 40px 35px;
    img {
        width: 112px;
        height: 112px;
        margin-bottom: 30px;
    }
    &-title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    p {
        line-height: 30px;
    }
    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}

//      features slider

.features-slider {
    background-color: #eff1f5;
}

.features-slider-title,
.feed-slider-title {
    div {
        width: 110px;
        height: 45px;
        background-color: $purple;
        border-radius: 25px;
    }
}

.features-product {
    display: flex !important;
    justify-content: space-between;
    background-color: #fff;
    &__image {
        max-width: 555px;
        height: 450px;
        @include bg_pack;
    }
    &__info {
        padding: 50px 50px 20px;
    }
    &__title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 16px;
    }
    &__subtitle-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 15px;
    }
    &__text {
        line-height: 30px;
        margin-top: 19px;
        margin-bottom: 34px;
    }

    &__link-box {
        padding-bottom: 45px;
        border-bottom: 1px solid #ececec;
        a {
            font-size: 15px;
            line-height: 30px;
            color: $grey;
            background-color: #f1f3f6;
            border-radius: 12px;
            padding: 0 20px;
            & + a {
                margin-left: 3px;
            }
        }
    }
    &__price-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 23px;
        font-size: 15px;
        position: relative;
    }
    &__price {
        color: #fff;

        font-weight: 500;
        background-color: $blue;
        padding: 5px 18px;
        border-radius: 14px;
        margin-right: 20px;
    }
    &__likes {
        svg {
            margin-right: 3px;
        }
        margin-right: 20px;
    }
}
.features-product__author,
.product-item__author {
    display: flex;
    align-items: center;
    margin-right: 20px;
    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        @include bg_pack;
        display: inline-block;
        margin-right: 7px;
    }
}
.features-product__theme,
.product-item__theme {
    padding-left: 25px;
    color: #7347c1;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 16px;
        height: 16px;
        background-image: url(../images/icons/wordpress.png);
        @include bg_pack;
    }
}
.features-product__buys,
.product-item__buys {
    color: $blue;
    svg {
        margin-right: 3px;
    }
}
.features-product__price-box,
.product-item__price-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 23px;
    font-size: 15px;
    position: relative;
}
.rate__star {
    position: absolute;
    right: 0;
    top: 50%;
}
.slider-arrows {
    position: absolute;
    top: -113px;
    right: 101px;
    cursor: pointer;
    &__right {
        right: 51px;
    }
}

//      newest product

.newest__products {
    background-color: #f6f7fb;
}

.newest__products-filtr {
    color: #747b86;
    &__btn {
        min-height: 20px;
        cursor: pointer;
        span {
            width: 5px;
            height: 4px;
            background-color: $darkgrey;
            border-radius: 50%;
            & + span {
                margin-top: 3px;
            }
        }
    }
}

.newest__products-category {
    background-color: #fff;
    min-height: 92px;
    padding: 33px 30px;
    margin-bottom: 50px;
    button {
        font-size: 15px;
        font-weight: 500;
        color: $darkgrey;
        padding: 7px 22px;
        background-color: #f1f3f6;
        border-radius: 15px;
        &:hover {
            color: #fff;
            background-color: $blue;
        }
        & + button {
            margin-left: 4px;
        }
    }
    .mixitup-control-active {
        color: #fff;
        background-color: $blue;
    }
}
.newest__all-btn {
    text-align: center;
    button {
        color: $darkgrey;
        padding: 18px 35px;
        background-color: #f1f3f6;
        border-radius: 35px;
    }
    .mixitup-control-active {
        color: #fff;
        background-color: $blue;
    }
}

.newest__products-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item,
.news-item {
    max-width: 361px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
    &__image {
        width: 361px;
        height: 230px;
    }
    &__title {
        color: #000;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 20px;
    }
    &__info {
        padding: 25px 30px;
        border-bottom: 1px solid #ececec;
    }
    &__text {
        line-height: 30px;
        overflow: hidden;
    }
    &__buys {
        margin-right: 0;
        margin-left: auto;
    }
    &__stars {
        .rate__star {
            right: 145px;
            top: 25px;
            display: none;
        }
        &.stars--on {
            .rate__star {
                display: block;
            }
        }
    }
}
.product-item__price-box {
    padding: 15px 30px;
}
.product-item__price {
    background-color: #e6f1fd;
    color: $blue;
    font-weight: 500;
    padding: 5px 18px;
    margin-right: 13px;
    border-radius: 18px;
}

.product-item__subtitle-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
//      feed slider

.feed-slider {
    padding: 120px 0 100px;
    background-color: #eff1f5;
}

.feed-slider-title {
    div {
        background-color: $blue;
    }
}

.feed-slider__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

//      statistics

.statistics {
    background-color: #212225;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.statistics__item {
    text-align: center;
    img {
        width: 48px;
        height: 41px;
        margin-bottom: 50px;
    }
    &-number {
        color: #feb71d;
        font-size: 36px;
        margin-bottom: 18px;
    }
    &-text {
        color: #fff;
        font-size: 18px;
    }
}
.statistics__item-sales {
    .statistics__item-number {
        color: #58c9e9;
    }
}
.statistics__item-customers {
    .statistics__item-number {
        color: #77de51;
    }
}
.statistics__item-members {
    .statistics__item-number {
        color: #ff6a6d;
    }
}

//      benefits
.benefits__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.benefits__item {
    text-align: center;
    max-width: 360px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    padding: 55px 30px;
    margin-bottom: 30px;
    &-number {
        position: absolute;
        font-size: 48px;
        color: #5c87f8;
        top: 20px;
        left: 20px;
        opacity: 0.2;
    }
    &-title {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 24px;
    }
    &-text {
        line-height: 30px;
    }
}

//      buttons

.buttons {
    display: flex;
    justify-content: space-between;
    min-height: 30em;
    &-left {
        background-image: url(../images/bg-left-btn.svg);
        @include bg_pack;
        .buttons-item__btn {
            color: $blue;
        }
    }
    &-right {
        background-image: url(../images/bg-right-btn.svg);
        @include bg_pack;
    }
}

.buttons-item {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    width: 100%;
    svg {
        margin-bottom: 50px;
    }
    &__title {
        font-size: 36px;
        margin-bottom: 33px;
    }
    &__text {
        line-height: 30px;
        margin-bottom: 30px;
        width: 580px;
        margin-left: auto;
        margin-right: auto;
    }
    &__btn {
        background-color: #fff;
        color: #7347c1;
        padding: 17px 40px;
        border-radius: 35px;
    }
}

//      feedback
.feedback {
}
.feedback__inner {
    display: flex;
    justify-content: space-between;
}
.feedback__item {
    max-width: 560px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 50px 40px;
    border-left: 2px solid $blue;

    &-author-box {
        display: flex;
        margin-bottom: 20px;
    }
    &-text {
        color: #555;
        line-height: 30px;
    }
}
.author-avatar {
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}
.author-info {
    min-height: 80px;
    margin-left: 20px;
}
.author-name {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #000000;
}
.author-profesion {
    color: #555;
}
.author-bg {
    margin-right: 0;
    margin-left: auto;
}

.feedback__link {
    text-align: center;
    margin-top: 60px;
    a {
        background-color: $blue;

        padding: 15px 35px;
        border-radius: 25px;
    }
}

//      news

.news {
    background-color: #eff1f5;
}
.news__inner {
    display: flex;
    justify-content: space-between;
}
.news-item__bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 59px;
}
.news-item__date-box {
    svg {
        margin-right: 8px;
    }
    display: flex;
    align-items: center;
    color: #999;
    width: 50%;
    border-right: 1px solid #ececec;
}
.news-item__comment-box {
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: #7e7e7e;
    a {
        margin-left: 30px;
        color: #7e7e7e;
        svg {
            margin-right: 7px;
        }
    }
}
.news-item__info-inner {
    height: 135px;
    overflow: hidden;
}

.support-icons__inner {
    display: flex;
    align-items: center;
    min-height: 300px;
}
.support-icons__item {
    width: 50%;
    text-align: center;
    img {
        margin-bottom: 20px;
    }
    div {
        font-size: 24px;
        span {
            color: $blue;
        }
    }
    .text__support {
        span {
            color: $purple;
        }
    }
}

.join-us{
    background: rgb(13,62,242);
    background: linear-gradient(90deg,rgba(102,30,144,1) 0%, rgba(64,48,201,1) 46%,rgba(13,62,242,1)   90%);
    min-height: 400px;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}
.join-us__title{
    font-size: 36px;
    margin-bottom: 30px;
}
.join-us__subtitle{
    font-size: 18px;
    margin-bottom: 50px;
}
.join-us__btn{
    background-color: #fff;
    padding: 20px 43px;
    color: $blue;
    border-radius: 35px;
    cursor: pointer;
}

@import "media";
